<div id="container"></div>
<div id="help">
  <h2>QWERTYcube - Keyboard oriented Rubik's Cube</h2>
  <p>by Steven Elliott based on rubik_scrambler by Siddhante Nangla</p>
  <br/>
  <h3>H - Toggle this help message.</h3>
  <table id="help-toggle-keys">
    <col width="25%" />
    <col width="75%" />
    <tr>
      <th>Control Key</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>A</td>
      <td>Toggle animation</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Set a checkpoint.  Try with Alt-G</td>
    </tr>
    <tr>
      <td>G</td>
      <td>Undo last move. Shift to redo</td>
    </tr>
    <tr>
      <td>H</td>
      <td>Toggle this help message</td>
    </tr>
    <tr>
      <td>I</td>
      <td>Information about the state of the cube</td>
    </tr>
    <tr>
      <td>J</td>
      <td>Jumble/scramble cube</td>
    </tr>
    <tr>
      <td>N</td>
      <td>New solved cube</td>
    </tr>
    <tr>
      <td>O</td>
      <td>Toggle display orientation</td>
    </tr>
    <tr>
      <td>P</td>
      <td>Persistence storage clear (factory reset)</td>
    </tr>
    <tr>
      <td>T</td>
      <td>Toggle the timer</td>
    </tr>
  </table>
  <br />
  <table id="help-face-keys">
    <col width="25%" />
    <col width="75%" />
    <tr>
      <th>Face Key</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>R</td>
      <td>Rotate the right face clockwise</td>
    </tr>
    <tr>
      <td>L</td>
      <td>Rotate the left face clockwise</td>
    </tr>
    <tr>
      <td>U</td>
      <td>Rotate the upper face clockwise</td>
    </tr>
    <tr>
      <td>D</td>
      <td>Rotate the down face clockwise</td>
    </tr>
    <tr>
      <td>F</td>
      <td>Rotate the front face clockwise</td>
    </tr>
    <tr>
      <td>B</td>
      <td>Rotate the back face clockwise</td>
    </tr>
  </table>
  <br />
  <table id="help-center-keys">
    <col width="25%" />
    <col width="75%" />
    <tr>
      <th>Center Key</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>M</td>
      <td>Middle turn around the X-axis</td>
    </tr>
    <tr>
      <td>E</td>
      <td>Equator turn around the Y-axis</td>
    </tr>
    <tr>
      <td>S</td>
      <td>Slice turn around the Z-axis</td>
    </tr>
  </table>
  <br />
  <table id="help-axis-keys">
    <col width="25%" />
    <col width="75%" />
    <tr>
      <th>Axis Key</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>X</td>
      <td>Rotate entire cube about the X-axis</td>
    </tr>
    <tr>
      <td>Y</td>
      <td>Rotate entire cube about the Y-axis</td>
    </tr>
    <tr>
      <td>Z</td>
      <td>Rotate entire cube about the Z-axis</td>
    </tr>
  </table>
  <br />
  <table id="help-modifier-keys">
    <col width="25%" />
    <col width="75%" />
    <tr>
      <th>Modifier Key</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>Shift</td>
      <td>Anti-clockwise instead of clockwise</td>
    </tr>
    <tr>
      <td>Alt</td>
      <td>Turn two layers instead of one</td>
    </tr>
    <tr>
      <td>Esc</td>
      <td>Alternative to Alt</td>
    </tr>
  </table>
</div>
<p id="status">
  Unset status
</p>
<p id="timer">
  Unset timer
</p>
<div id="info">
  <textarea name="info-text" id="info-text" cols="100">Initial unset value.</textarea>
  <button type="button" id="info-cancel" onclick="infoCancel()">Cancel</button>
  <button type="button" id="info-ok" onclick="infoOk()">Ok</button>
</div>
<script type="text/javascript">
  window.onload = initLoad;
</script>