<div id="controls">
    
    <div class="btn-group-vertical">
        <input class="btn btn-info" type='button' id='newrubik' value='New Cube'/>
        <input class="btn btn-warning" type='button' id='scramble' value='Scramble'/>  
        <input class="btn btn-success" type='button' id='solve' value='Solve'/>   
    </div>
    
</div>

<div id="flatimage" style="position:absolute;z-index:10;bottom:80px;right:5px;"></div>

<div id="container" style="position:relative;margin:0 auto;padding:0;z-index:0;cursor:pointer;">
  <h1 id="title">Breadth First Search Rubik's Cube Solver</h1>
  <div id="loading_div" class="loader">Loading...</div>
</div>
  
<script>
RubikApplication.init();
</script>