/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}

button {
    position: absolute;
    background-color: #C0FFC0;
    border: solid;
    border-radius: 6px;
    visibility: hidden;
}

button:hover {
    background-color: yellow;
}

table {
    width: 100%
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    white-space: nowrap;
}

#help {
    margin: 3px;
    padding: 3px;
    position: absolute;
    background-color: #B0FFFF;
    border-radius: 6px;
    opacity: 0.9;
    visibility: hidden;
}

#info {
    position: absolute;
    top: 0px;
    left: 0px;
}

#info-text {
    font-family: courier new;
    position: absolute;
    background-color: #C0FFC0;
    border: solid;
    border-radius: 6px;
    visibility: hidden;
}

#status {
    font-family: courier new;
    font-size: 200%;
    position: absolute;
    background-color: #FFFF80;
    border-radius: 6px;
    opacity: 0.0;
}

#timer {
    font-family: courier new;
    font-size: 200%;
    position: absolute;
    border-radius: 6px;
    opacity: 0.0;
}
